<!DOCTYPE html>
<html lang="en">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Using the formset -->
    {{ addisbn_form }}

    <button type="submit">Add textbook</button>
</form>
<br>
<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <!-- Using the formset -->
    {{ deleteisbn_form }}

    <button type="submit">Delete textbook</button>
</form>
<br>
<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <!-- Using the formset -->
    {{ updateisbn_form }}

    <button type="submit">Update textbook</button>
</form>

<br>
<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <!-- Using the formset -->
    {{ populate_form }}

    <button type="submit">Update The Database</button>
</form>