{% load static %}
<!DOCTYPE html>
{% load rest_framework %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="texthubapi\static\texthubapi\css\home.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    {% load crispy_forms_tags %}  
    <h1 style = "font-weight: bolder;margin-left: 41%;margin-top: 20px;">
        TEXTHUB ISU
        <img src = "{% static 'texthubapi/images/reggie.png' %}" style = "height: 70px; width: 60px;">
    </h1>
    
<div style = "margin-left:35%;width: 30%;border: 1px solid #ccc!important;border-radius: 16px; padding:10px">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <form id = 'search_form' method="POST" enctype="multipart/form-data">
    
        {% csrf_token %}
        <!-- Using the formset -->
        {{ searchisbn_form|crispy }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- Using the formset -->
        {{ reviewisbn_form|crispy }}
        
        <button type="submit" class="btn btn-primary">Submit Review</button>
    </form>
    <br>
    <form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <!-- Using the formset -->
    {{ submitfeedback_form|crispy }}
    
    <button type="submit" class="btn btn-primary">Submit Feedback</button>
</form>
<br>
</div>
