<!DOCTYPE html>
{% load rest_framework %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
<h1>Texthub ISU Home Page</h1> 
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert" style="color: red;">{{ message }}</div>
    {% endfor %}
{% endif %}
<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <!-- Using the formset -->
    {{ searchisbn_form }}
    <button type="submit">Search ISBN</button>
</form>
<br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Using the formset -->
    {{ reviewisbn_form }}

    <button type="submit">Submit Review</button>
</form>
<br>
<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <!-- Using the formset -->
    {{ submitfeedback_form }}

    <button type="submit">Submit Feedback</button>
</form>
<br>
