<!DOCTYPE html>
{% load rest_framework %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
<h1>ISBN not found... <br>
    Would you like to request the ISBN be added to our site?</h1>
<br>
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
<form method="POST" >
    {% csrf_token %}

    <button class="Request ISBN" name="RequestButton" value="submit">
        Submit Request
    </button>
</form>
<br>